<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="黄开兵的个人博客，专注全栈开发。技术领域涉及vue、avalon、express、koa、springboot、、、等，主张复杂的事情简单做，追求自由编程。"/>
    <meta name="keywords" content="黄开兵,黄开兵的个人博客,全栈开发"/>
    <meta name="robots" content="index,follow"/>
    <meta name="author" content="黄开兵,huangkaibing"/>
    <!-- Bootstrap -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--highlight-->
    <link href="../css/atom-one-dark.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>黄开兵的个人博客,专注全栈开发</title>
</head>
<body>
<div class="container-fluid details" id="details" v-cloak>
    <!--header-->
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="page-header">
                <a href="index.html">
                    <h1>
                        黄开兵的个人博客
                        <small></small>
                    </h1>
                </a>
            </div>
        </div>
    </div>

    <!--content-->
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="details_article_next">
                <div class="details_article_classfily">
                    <span>分类：{{classify_name}}</span>
                </div>
                <div class="details_article_prenext">
                    <div v-if="last_id"><a href="javascript:" @click="goDetails(last_id)">上一篇：{{lastArticleTitle}}</a>
                    </div>
                    <div v-if="next_id"><a href="javascript:" @click="goDetails(next_id)">下一篇：{{nextArticleTitle}}</a>
                    </div>
                </div>
            </div>

            <div class="details_articletitle">
                <h1>
                    {{title}}
                </h1>
            </div>

            <div class="details_articlelable">
                <p v-cloak>作者：{{author}}</p>
                <p v-cloak>日期：{{createtime|subTime}}</p>
            </div>
            <div class="details_makdown" v-html="content" v-highlight></div>
        </div>
    </div>

    <!--footer-->
    <div class="row-fluid">
        <div class="col-md-12 text-center footer">
            <h4>
                <a href="http://www.miitbeian.gov.cn/">鄂ICP备17028693号</a>
            </h4>
        </div>
    </div>
</div>

<script src="../lib/vue.min.js"></script>
<script src="../lib/axios.min.js"></script>
<script src="../lib/marked.min.js"></script>
<script src="../lib/highlight.min.js"></script>
<script src="../control/details.js"></script>
<script src="../lib/baidu.js"></script>
</body>
</html>