<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>index</title>
</head>
<body>
<div class="container-fluid" id="index">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="page-header">
                <a href="index.html">
                    <h1>
                        <!--黄开兵的个人博客-->
                        hello world!
                        <small></small>
                    </h1>
                </a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-9">
            <div class="articlelist" v-for="el in articles" v-cloak>
                <h3>
                    <a href="javascript:" @click="goDetails(el._id)">{{el.title}}</a>
                </h3>
                <div class="articledesc">
                    <div class="titledesc">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <span>{{el.createtime|subListTime}}</span>
                    </div>
                    <div class="titledesc">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        <span>{{el.viewnum}}</span>
                    </div>
                    <div class="titledesc">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        <span>{{el.classify_name}}</span>
                    </div>
                    <a href="javascript:" @click="goDetails(el._id)">查看更多</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 indexCenterRight">

            <div class="indexSearch">
                <i class="icon-search"><span class=" glyphicon glyphicon-search" aria-hidden="true"></span></i>
                <input class="searchContent" type="text"/>
            </div>
            <div class="indexTag">
                <div class="indexTagTitle">标签</div>
                <div class="indexTagTags">
                    <ul>
                        <li v-for="el in tags" v-cloak>
                            <a href="javascript:"
                               @click="sArticlesByType(1,el._id)">{{el.name}}<span>（{{el.count}}）</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="indexTag">
                <div class="indexTagTitle">历程</div>
                <div class="indexTagTags">
                    <ul>
                        <li v-for="el in lives" v-cloak>
                            <a href="javascript:" @click="sArticlesByType(2,el._id)">{{el._id|subLiveTime}}<span>[{{el.count}}篇]</span></a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12 text-center footer">
            <h4>
                敬请期待。。。
            </h4>
        </div>
    </div>
</div>

<script src="../lib/vue.min.js"></script>
<script src="../lib/axios.min.js"></script>
<script src="../lib/moment.js"></script>
<script src="../control/index.js"></script>
</body>
</html>